 body {
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     background: #F8FBFF;
     color: #333;
 }


 /* Navbar */
 .navbar-main-container {
     background-color: #0077B6;
     padding: 15px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .navbar-main-container:hover {
      box-shadow: 0px 9px 8px blue;
 }

 .main-logo {
     border-radius: 50px;
 }

 .logo-container {
     color: #FFFFFF;
     font-size: 25px;
     font-weight: bold;
     border-radius: 50%;
     align-items: center;
     justify-content: center;
     display: flex;
     gap: 15px;
 }

 .heading {
     font-size: 20px;
     color: #FFFFFF;
     cursor: pointer;
 }

 .nav-links {
     color: none;
     display: flex;
     gap: 30px;
     cursor: pointer;
     padding: 15px;

 }


 .auth-nav-links {
     background-color: none;
     display: flex;
     gap: 30px;
     cursor: pointer;
 }

 .signup {
     color: #f8fbff;
 }

 .login {
     color: #f8fbff;
 }

 .contact {
     color: #f8fbff;
 }

 .home {
     color: #f8fbff;
 }

 .about {
     color: #f8fbff;
 }

 .destination {
     color: #f8fbff;
 }

 .services {
     color: #f8fbff;
 }

 .booking {
     color: #f8fbff;
 }

 .package-section {
     background-color: rgb(180, 222, 238);
     border: 1px solid black;
 }

 .section-1 {
     color: #302047;
     text-align: center;
     margin: 0px;
     font-size: 50px;
 }

 .section-2 {
     color: #302047;
     text-align: center;
     margin: 40px 0;
     font-size: 25px;
 }

 .section-3 {
     color: #302047;
     text-align: center;
     margin: 10px 0;
     font-size: 30px;
 }

 .underline {
     width: 175px;
     height: 4px;
     background: blueviolet;
     margin: 10px auto 40px;
 }

 .package-container {
     display: flex;
     justify-content: center;
     gap: 30px;
     flex-wrap: wrap;
 }

 .card {
     background: #ffffff;
     width: 300px;
     padding: 15px;
     border-radius: 10px;
     text-align: left;
     color: white;
     margin-bottom: 20px;
 }

 .card:hover {
     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
 }

 .card img {
     width: 100%;
     height: 200px;
     border-radius: 10px;
     object-fit: cover;
 }

 .card h3 {
     color: #302047;
     font-size: 30px;
     margin: 10px 0;
 }

 .stars {
     color: gold;
     font-size: 18px;
     margin-bottom: 10px;
 }

 .card p {
     color: #302047;
     font-size: 14px;
     margin-bottom: 15px;
 }

 .price {
     background: gold;
     padding: 10px 15px;
     border-radius: 5px;
     text-decoration: none;
     color: black;
     font-weight: bold;
     display: inline-block;
     transition: 0.3s;
 }

 .clients-section {
     width: 90%;
     margin: 60px auto;
     text-align: center;
     font-family: Arial, sans-serif;
 }

 .section-title {
     font-size: 32px;
     font-weight: bold;
     margin-bottom: 40px;
     color: #302047;
 }

 .clients-container {
     display: flex;
     justify-content: center;
     gap: 30px;
     flex-wrap: wrap;
 }

 .client-card {
     background: #ffffff;
     width: 300px;
     padding: 25px;
     border-radius: 15px;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
     text-align: center;
     transition: 0.3s ease-in-out;
 }

 .client-card:hover {
     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
 }

 .emoji {
     font-size: 45px;
     margin-bottom: 15px;
 }

 .feedback {
     font-size: 15px;
     line-height: 1.6;
     color: #302047;
     margin-bottom: 12px;
 }

 .client-name {
     font-size: 16px;
     font-weight: bold;
     color: #0087A8;
 }

 /* Responsive */
 @media (max-width: 768px) {
     .clients-container {
         flex-direction: column;
         align-items: center;
     }
 }

 .footer {
     background: #0077B6;
     padding: 50px 0 20px;
     font-family: Arial, sans-serif;
 }

 .footer-container {
     width: 90%;
     margin: auto;
     display: grid;
     grid-template-columns: 1.3fr 1fr 1fr 1.2fr;
     gap: 40px;
 }


 .logo {
     font-size: 30px;
     font-weight: bold;
     color: #302047;
 }

 .logo span {
     color: darkorange;
 }

 .footer-about p {
     margin-top: 12px;
     line-height: 1.6;
     color: #302047;
 }

 .footer-contact h3,
 .footer-address h3,
 .footer-feedback h3 {
     margin-bottom: 15px;
     color: #302047;
 }

 .footer-contact p,
 .footer-address p {
     margin-bottom: 8px;
     color: #302047;
     font-size: 14px;
 }

 .footer-feedback form {
     display: flex;
     flex-direction: column;
 }

 .footer-feedback input,
 .footer-feedback textarea {
     padding: 10px;
     margin-bottom: 12px;
     border: 1px solid #ccc;
     border-radius: 6px;
     font-size: 14px;
 }

 .footer-feedback textarea {
     height: 80px;
     resize: none;
 }

 .footer-feedback button {
     padding: 10px;
     background: orange;
     color: black;
     border: none;
     border-radius: 6px;
     cursor: pointer;
 }

 .footer-feedback button:hover {
     background: #00B4D8;
 }

 .footer-bottom {
     text-align: center;
     margin-top: 30px;
     padding: 10px 0;
     border-top: 1px solid #ddd;
 }

 .footer-bottom p {
     color: #302047;
     font-size: 14px;
 }

 /* Responsive */
 @media (max-width: 768px) {
     .footer-container {
         grid-template-columns: 1fr;
         text-align: center;
     }
 }